body {
    margin: 0;
    padding: 0;
}
.container {
    border: 1px solid #dddddd;
}
header {
    height: 100px;
    border-bottom: 1px solid #dddddd;
}

.sidebar {
    min-height: 650px;
    border-right: 1px solid #dddddd;
}
.content {
    min-height: 650px;

}
.para {
    font-size: 18px;
    width: 80%;
    background: #efefef;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.popup {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: none;
}

.popup .popup_main {
    width: 450px;
    height: auto;
    background: #ffffff;
    border: 1px solid #efefef;
    -webkit-box-shadow: 1px 2px 6px 4px #222222;
    -moz-box-shadow: 1px 2px 6px 4px #222222;
    box-shadow: 1px 2px 10px 1px #222222;
    position: absolute;
    /*top: 30%;*/
    top: -50%;
    left: 30%;
    /*display: none;*/
}
.popup .popup_head {
    background: #efefef;
}
.popup .popup_head h3 {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 5px;
    position: relative;

}
.popup .popup_head h3 .popup-trash {
    position: absolute;
    right: 10px;
    top: 25%;
    font-size: 12px;
    /*border: 1px solid #d43f3a;*/
    padding: 5px 8px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #eb9316;
    color: #ffffff;
    cursor: pointer;
}
.popup .popup_main .popup_body {
    padding: 10px;
    min-height: 300px;
}
.popup .popup_main .popup_footer {
    border-top: 1px solid #dddddd;
    padding: 20px 10px;
}
footer {
    height: 100px;
    border-top:1px solid #dddddd;
}
